mixin menu(items)
    each item in items
        case (item.element)
            when 'logo'
                a.logo(href=item.link): img.logo__pic(src=item.img[0] alt=item.img[1])
            when 'nav'
                nav.nav
                    ul.nav__list
                        each x in item.link
                            li.nav__item: a.nav__link(href=x[1]) #{x[0]}
            when 'social'
                ul.social__list
                    each x in item.link
                        li.social__item: a.social__link(href=x[2]): img.social__pic(src=x[0] alt=x[1])
mixin new-card(props)
    li.new__item
        img.new__thumb(src=props.img[0] alt=props.img[1])
        h3.new__title #{props.title}
        ul.new__metas
            each meta in props.meta
                li.new__meta-item
                    //- Реализовать meta-img через псевдоэлемент!
                    img.new__meta-img(src=meta[0] alt=meta[1])
                    .new__meta-text #{meta[2]}
        .new__desc #{props.text}
        a.button(href=props.button[1]) #{props.button[0]}

mixin completed-card(props)
    li.completed__item(class="completed__item--"+props.cardId): .completed__item-container
        .completed__meta #{props.meta}
        .completed__title #{props.title}
        .completed__desc #{props.desc}

